:root {
  --main-font-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: normal;
  color: var(--main-font-color);
}

.full-screen {
  height: 100vh;
  width: 100%;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
}
.display-none {
  display: none;
}
.no-select {
  user-select: none;
}
