:root {
  --done-background-color: palegreen;
  --todo-background-color: gainsboro;
  --mistake-background-color: red;
  --finished-background-color: forestgreen;
  --playground-side: 450px;
}

.game-page {
  display: grid;
  grid-template-columns: 1fr var(--playground-side) 1fr;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-indicator {
  display: grid;
  grid-template-areas: 'status name' 'bar bar';
  grid-template-columns: 25px 1fr;
  padding: 5px 15px;
  width: 300px;
}
.status-indicator {
  grid-area: status;
  justify-self: center;
  align-self: center;
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
.status-ready {
  background-color: var(--done-background-color);
}
.status-notready {
  background-color: var(--mistake-background-color);
  color: white;
}
.user-name {
  grid-area: name;
}
.user-progress-wrapper {
  grid-area: bar;
  height: 25px;
  border: 2px solid var(--todo-background-color);
}
.user-progress {
  height: 21px;
  width: 0%;
}
.inprogress {
  background-color: var(--done-background-color);
}
.finished {
  background-color: var(--finished-background-color);
}

.playground {
  height: var(--playground-side);
  align-self: center;
  border: 2px solid var(--todo-background-color);
}
.ready-button {
  height: 39px;
  width: 120px;
  font-size: 14px;
  font-weight: bolder;
  border: 1px solid var(--todo-background-color);
  text-transform: uppercase;
  padding: 0 15px;
}
.text-done {
  background-color: var(--done-background-color);
}
.text-todo {
  background-color: var(--todo-background-color);
  text-decoration: underline;
}
.text-mistake {
  animation: mistake 0.5s;
}
@keyframes mistake {
  0% {
    background-color: var(--mistake-background-color);
  }
  100% {
    background-color: var(--todo-background-color);
  }
}
